body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #e0a863;
    margin: 1rem;
    color: white;
    padding: 1rem;
    text-align: center;
    max-width: 800px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#timer-score {
    display: none;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 1.2rem;
}

#timer, #score {
    font-weight: bold;
}

#quiz-container {
    background-color: #f0f0f0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.option {
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    max-width: 400px;
    font-size: 1.1rem;
}

.option:hover {
    background-color: #e0e0e0;
}

#result {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

#next-btn, #submit-btn, #restart-btn {
    display: none;
    margin: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #e0a863;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; 
    max-width: 300px;
    font-size: 1rem;
}

#final-result {
    display: none;
    margin: 1rem;
    background-color: #f0f0f0;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

input[type="text"] {
    width: 100px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#progress-bar {
    width: 100%;
    height: 20px;
    margin: 10px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#progress-bar-inner {
    height: 100%;
    background-color: #4C50AF;
    width: 0%;
    transition: width 0.5s ease;
}

#subject-selection {
    display: block;
    font-size: 1.4rem;
    margin: 1rem;
    width: 100%;
    max-width: 800px;
}

#subject, #level {
    font-size: 1.4rem;
}

#start-btn {
    font-size: 1.4rem;
    margin: 1rem;
}

.code-block {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}